.el-table {
  background-color: #e5e8e8;

  // 表头
  .is-leaf {
    background-color: #d8dbdb;
    color: #2f2e2e;
    text-align: center;
  }

  // 表格元素
  td {
    background-color: #eeefef;
  }

  .gutter {

    // background-color: #fdfdfe;

    background-color: #d9d9de;

  }

}
