.el-table {
  background-color: #d8dbdb;

  // 表头
  .is-leaf {
    background-color: #d8dbdb;
  }

  // 表格元素
  td {
    background-color: #eeefef;
  }

  .gutter {
    background-color: #d9d9de;
  }

}
